@model AccountInfoViewModel

<div>
    <p>
        Count of notes: @Model.NotesCount
    </p>
    <p>
        @Model.Email
    </p>
    <form asp-controller="Account" asp-action="Logout"> 
        <button>Logout</button>
    </form>
</div>