@model NoteCreateViewModel

<form method="post" asp-action="Create" asp-controller="Notes">
    <input type="text" asp-for="Title"/>
    <br />
    <textarea asp-for="Text"></textarea>
    <br />
    <input type="submit"/>
</form>


