@model NoteCreateViewModel
@*
<select class="form-control" id="select">
    @foreach (var tag in Model.Tags)
    {
        <option value="@tag.Name">@tag.Name</option>
    }
</select>
<button id="addTagButton">Add tag</button>*@
<form method="post" asp-action="Create" asp-controller="Notes">
@*
    <div id="tags">
    </div>

    <div id="hiddenTags">

    </div>*@

    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" asp-for="Title"/>
    </div>

    <div class="form-group">
        <label>Text</label>
        <textarea class="form-control" rows="9" asp-for="Text"></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Save</button>
    </div>
</form>

@*
<script>
    let tagsCount = 0;
    let btn = document.getElementById("addTagButton");

    let tagList = [];



    btn.onclick = function(){
        let tagName = document.getElementById("select").value;

        if(tagList.includes(tagName) == true){
            alert("this tag has already aadded"); // ?
            return;
        }
        tagList.push(tagName);

        AddTagToHtmlList(tagName);
        AddHiddenInput(tagName);

        tagsCount++;
    }
    function AddHiddenInput(tagName){
        let inputsDiv = document.getElementById("hiddenTags");

        let input = document.createElement("input");
        //<input hidden name = "Tags[0].Name" type = "text" value = "Asp" />

        input.setAttribute("hidden", "true");
        input.setAttribute("type", "text");
        input.setAttribute("value", tagName);
        input.setAttribute("name", `Tags[${tagsCount}].Name`)

        inputsDiv.appendChild(input);
    }
    function AddTagToHtmlList(tagName){
        let tagsDiv = document.getElementById("tags");

        let div = document.createElement("div");
        
        div.appendChild(document.createTextNode(tagName));
        tagsDiv.appendChild(div);
    }

</script>*@