@model IEnumerable<ReadNoteViewModel>
<ul>
    <li class="list-group">
        @foreach (var note in Model)
        {
            <div class="mt-1">
                <a asp-controller="Notes" asp-action="Read" asp-route-id="@note.Id"
                    class="list-group-item list-group-item-action">
                    <strong>@note.Title</strong>
                </a>
            </div>
        }
    </li>
</ul>